*{
    font-family: "Roboto", sans-serif;
}

nav{
    display: flex;
    justify-content:center;
}

nav div{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div ul{
    list-style: none;
    display: flex;
    gap: 23px;
}

nav div ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

ul a:hover{
    color: #D9832E; 
}

.logo{
    letter-spacing: 2px;  
}

header{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

header .container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

header img{
    width: 500px;
}

.subtitle{
    margin: 0px;
    padding: 0px;
}

.title{
    margin: 0px;
    padding: 0px;
     font-size: 59px;
}

.dev{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: grey;
    letter-spacing: 2px;
    margin-top: 18px;
    margin-bottom: 32px;
}

.cotation{
    margin: 0px;
    padding: 0px;
    font-size: 23px;
    font-weight: 500;
}

.action{
    display: flex;
    column-gap: 35px;
}
.action button{
    padding-left: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 25px;
}

.work-btn{
    background-color: #D38433;
    color: white;
    border-style: none;
    font-size: 14px;
}
.work-btn:hover{
    background-color: whitesmoke;
    color: #D38433;
    border: 2px;
    border-style: solid;
}


.hire-btn{
    background-color: white;
    color: #D38433;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
    border-color: #D38433;
}
.hire-btn:hover{
    background-color: #D38433;
    color: white;
    transition: 0.5s
}

.about-me{
    background-color: #ccc;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 30px;
}

section .container{
    width: 80%;   
}

.about-me h1{
  letter-spacing: 2px;  
    
}
.about-me p{
    letter-spacing: 2px;
    color: gray;
}

.about-image-box{
    display: flex;
    gap: 68px;
    align-items: center;
}

.images-box{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.details-box{
    letter-spacing: 2px;
}

.social-box{
    background-color: white;
    width: 40px;
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    position: absolute;
    left: 0;
    top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    border-radius: 6px;
}

.social-box button{
    width: 40px;
    height: 40px;
    border-style: none;
    background-color: #EA9A39;
    color: white;
    border-radius: 6px;
}

.social-box button:hover{
    background-color: black;
}

.lead{
    font-weight: 400px;
    margin-top: 10px;
}

.per-info{
    display: flex;
    justify-content: space-between;
}

.per-info .label{
    display: flex;
    align-items: center;
}

.per-info .label h5{
    border-right-width: 1px;
    border-right-color: gray;
    border-right-style: solid;
    padding-right: 20px;
    margin-right: 10px;
    font-weight: 500;
}

.dwn{
    border-style: none;
    background-color: #EA9A39;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.skills .container{
    width: 80%;
}

.skills-box{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
}

.skills .card-box{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    width: 50%;
}
.skills .card{
    border-color: #EA9A39;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    column-gap: 10px;
    box-shadow: 0 0 10px 0 #ddd;
}

.percentage-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.percentage{
    width: 50%;
}

.p-main{
    height: 6px;
    background-color: #ddd;
    border-radius: 4px;
}
.p-92{
    width: 92%;
    background-color: #EA9A39;
    height: 100%;
    border-radius: 4px;
}

.p-75{
    width: 75%;
    background-color: #EA9A39;
    height: 100%;
    border-radius: 4px;
}

.p-86{
    width: 86%;
    background-color: #EA9A39;
    height: 100%;
    border-radius: 4px;
}

.p-88{
    width: 88%;
    background-color: #EA9A39;
    height: 100%;
    border-radius: 4px;
}

.percent-all{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.card-box  [type=class]{
    color: #D38433;
}

.services{
    background-color: #EAEDF2;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.services .container{
    width: 80%;
}

.service-box{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.service-box .card{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 26%;
}
.service-box .card:hover{
    background-color: #EA9A39;
}
.service-box .card button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-style: dotted;
    border-color: #EA9A39;
    border-width: 2px;
    background-color: white;
    font-size: 24px;
    color: #EA9A39;
}


.latest-work{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.latest-work .container{
    width: 80%;
}

.latest-work .image-box{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.latest-work .image-box img{
    border-radius: 5px;
}

.testimonials{
    display: flex;
    justify-content: center;
    background-color: #EAEDF2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.testimonials .container{
    width: 80%;
}

.carousel{
    display: flex;
    gap: 20px;
}

.carousel .card{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    display: flex;
    column-gap: 15px;
    align-items: start;
    margin-top: 30px;
}

.carousel .card img{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.carousel .card-content p{
    padding: 0;
    margin: 0;
    text-align: justify;
    color: gray;
}

.carousel .card-content h4{
    padding: 0;
    margin-bottom: 4px;
    margin-top: 10px;
    text-align: justify;
}

.latest-blog{
    display: flex;
    justify-content: center;
    padding-top: 58px;
    padding-bottom: 58px;
}
.latest-blog .container{
    width: 80%;
}

.blog{
display: flex;
gap: 32px;
margin-top: 40px;
}

.blog .card-content h6{
    background-color: #D9832E;
    width: fit-content;
    padding: 8px;
    margin-bottom: 0px;
    color: white;
}

.blog .card-content div{
background-color: white;
box-shadow: 0 0 10px 0  #ddd;
padding: 15px;
width: 80%;
}

.blog .card-content p{
    color: gray;
}

.blog .card-content button{
    background-color: white;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.blog .card-content h4{
    padding: 0px;
    margin-bottom: 0px;
}

.blog .card-content a{
    color: #EA9A39;
    font-weight: 900px;

}

.blog .card-content{
    position: relative;
    top: -100px;
    left: 20px;
}

.get{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EAEDF2;
}

.get .container{
    width: 80%;
}

.form-box{
 display: flex;
 justify-content: space-between;
 gap: 30px;
 margin-top: 40px;
}

.form-card{
    width: 60%;
    background-color: white;
}

.form-info{
    width: 40%;
}

.form-info .card{
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: start;
    gap: 20px;
    width: 70%;
    margin-bottom: 20px;
}

.form-info .card button{
    width: 55px;
    height: 45px;
    background-color: #EA9A39;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    border-style: none;
}

.form-info .card h4 {
    font-weight: 500px;
    padding: 0px;
    margin: 0px;
}

.form-info .card p {
    font-weight: 500px;
    margin-top: 10px;
    color: gray;
}

